.nav{
  background-color:#006744;
  color:white;
  position:sticky;
  top:0px;
  z-index: 1020;
}
.body{
 padding-top:50px;
 padding-left:12.5%;
 padding-right:12.5%;
}
.tab{
  color:#E2E2E2;
}
.tab:hover{
  color:white;
  background-color:#006744;
}
.tab-active{
  color:white;
  background-color:#006744;
}
.tab-active:hover{
  color:white;
  background-color:#006744;
}
.title-text{
  color:#006744;
  font-size:40px;
}
.footer{
  text-align:center;
  color:#E2E2E2;
  padding:30px;
  background-color:#006744;
  margin-top:80px;
  width:100%;
}
.end{
  text-align:center;
  color:#E2E2E2;
  padding:30px;
  background-color:#005544;
  width:100%;
}
.footerstuff{
  color:#E2E2E2;
}
.footerstuff:hover{
  color:white;
  text-decoration: none;
}
/* .submit{
border:1px solid transparent;
border-color:#006744;
color:#006744;
background-color:white;
border-radius: .25rem;
padding:10px;
}
.submit:hover{
background-color:#006744;
color:white;
transition: color .15s ease-in-out, background-color .15s ease-in-out;
text-decoration: none;
} */
.pics{
  /* width:50%;
  margin-left:25%;
  margin-right:25%;
  margin-top:10px;
  margin-bottom: 10px; */
  max-height:300px;
  max-width:100%;
}
.caption{
  text-align:center;
  font-size:12px;
}
.link{
  color:#007bff;
  text-decoration:none;
  cursor:pointer;
}
.link:hover{
  color:#0068D8;
  text-decoration:underline;
}
h4{
  margin-top:-76px;
  padding-top:76px;
}
p{
  text-align:justify;
}
